extends layout

block content

  header.navbar
    section.navbar-section
      a(class='btn btn-link', href='/howitworks') How it works
    section.navbar-centre
      a(type='text') Referly
    section.navbar-section
      a(class='btn btn-link', href='/convinceme') Convince me

  .intro-blurb
    h2 Referly rewards people for finding perfect job candidates in their network.

  .get-started
    p Get Started:
    form(method='GET' action='/signin')
      input(type="image"  id="signin" src="/images/Sign-In-Small---Default.png" alt="Sign up with Linkedin")
