BODY {
  font-family: Montserrat, sans-serif;
  color: #000;
  background-color: #FFE266;
  line-height: 2
}

.intro-blurb {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding: 50px;
    line-height: 2.5

}

.get-started {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
